In [17]:
s1 = 'abc'
s2 = "674"

In [22]:
s4 = (s1+s2)

In [30]:
myList = [20,'abc', 1]
myList[0] = 30
print(myList)
myList.append('ooo')
print(myList)
myList.remove(30)
print(myList)

[30, 'abc', 1]
[30, 'abc', 1, 'ooo']
['abc', 1, 'ooo']

In [33]:
list1 = [20,'abc', 1]
list1[0] = 30
print(myList)
myList.append('ooo')
print(myList)
list2 =['kk', 100]
print(list1 + list2)
list3 = ['abc','xyz','klm']
print(min(list3))

[30, 'abc', 1, 'ooo']
[30, 'abc', 1, 'ooo', 'ooo']
[30, 'abc', 1, 'kk', 100]
abc

In [34]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [35]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [36]:
thistuple = ('apple')
print(type(thistuple))

<class 'str'>

In [ ]:
thistuple = (100,)
print(type(thistuple))