In [6]:
print("Please insert your name")
name = input()
print("Welcome", name)

Please insert your name
Welcome Enter

In [7]:
print ("Enter your Wage, Weeks, and Hours")
wage = int(input())
weeks = int(input())
hours = int(input())
print ("My wage is", wage, "my weeks are", weeks, "my wage is", hours)
anincome = wage*weeks*hours
print("My annual income is", anincome)

Enter your Wage, Weeks, and Hours

ValueError: invalid literal for int() with base 10: 'Enter'

In [ ]:
x,y = 3,4

In [ ]:
import math
num = 49 
num_sqrt = math.sqrt(num)

In [ ]:
import random 
print(random.random())
print(random.random())
print(random.randrange(10))

0.7658421621773265
0.2857791189608404
3

In [ ]:
print('\\home\\users\\')

\home\users\

In [10]:
my_string = ("Mihawk is a fraud \n 'Fraudhawk'")

In [1]:
x

NameError: name 'x' is not defined

In [2]:
s1 = 'abc'
s2 = "674"

In [5]:
s4 = (s1+s2)

In [3]:
myList = [20,'abc', 1]
myList[0] = 30
print(myList)
myList.append('ooo')
print(myList)
myList.remove(30)
print(myList)

[30, 'abc', 1]
[30, 'abc', 1, 'ooo']
['abc', 1, 'ooo']

In [6]:
list1 = [20,'abc', 1]
list1[0] = 30
print(myList)
myList.append('ooo')
print(myList)
list2 =['kk', 100]
print(list1 + list2)
list3 = ['abc','xyz','klm']
print(min(list3))

['abc', 1, 'ooo']
['abc', 1, 'ooo', 'ooo']
[30, 'abc', 1, 'kk', 100]
abc

In [7]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [8]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [9]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [11]:
thistuple = ('apple')
print(type(thistuple))

<class 'str'>

In [10]:
thistuple = (100,)
print(type(thistuple))

<class 'tuple'>

In [13]:
set1=set()
print(type(set1))

<class 'set'>

In [14]:
# Create a set using the set() function.
nums1 = set([1, 2, 3])

# Create a set using a set literal.
nums2 = { 7, 8, 9 }

# Print the contents of the sets.
print(nums1)
print(nums2)

{1, 2, 3}
{8, 9, 7}

In [ ]:
# Create sets
names1 = {'Pedro', 'Khan', 'Dean'}
names2 = {'Emilia', 'Kara', 'Tia'}

# Add element to set
names1.add('Hyungu')

# Add names2 to names1
names1.update(names2)

# Remove element from set
names1.remove('Dean')

# Clear all elements from set
names2.clear()

In [15]:
players = {
    'Lionel Messi': 10,
    'Cristiano Ronaldo': 7
}

print(players)

{'Lionel Messi': 10, 'Cristiano Ronaldo': 7}

In [18]:
prices = {}  # Create empty dictionary
prices['banana'] = 1.49  # Add new entry
print(prices)

prices['banana'] = 1.69  # Modify entry
print(prices)

del prices['banana']  # Remove entry
print(prices)

{'banana': 1.49}
{'banana': 1.69}
{}

In [22]:
a = {}
b = set()
2 * 10^2
print(type(b))

<class 'set'>

In [24]:
name = "John"
age = 30
print(f"My name is {name} and I am {age} years old.")

My name is John and I am 30 years old.

In [23]:
a = 5
b = 10
print(f"Five plus ten is {a + b} and not {2 * (a + b)}.")

Five plus ten is 15 and not 30.

In [25]:
pi = 3.141592653589793
print(f"Pi rounded to 2 decimal places is {pi:.2f}.")

Pi rounded to 2 decimal places is 3.14.

In [ ]:
from datetime import datetime
today = datetime.today()
print(f"Today's date is {today:%B %d, %Y}.")

In [2]:
a, b = 70, 36
if b > a:
 print('b is greater than a')
else:
 print('b is NOT greater than a')

b is NOT greater than a

In [3]:
a, b = 33,200
if b!= a:
  print("b is NOT equal")
else:
   print("b is equal")

b is NOT equal

In [10]:
Admiral = "fraud"
if Admiral == "Kizaru":
    print("Im telling the Gorosei")
else: 
    print("You're not a fraud")

You're not a fraud

In [ ]:
flag = True
if flag != True:
   print("Hello")
else:
   print("Bye")

# Membership Operators

In [12]:
# Membership Operators
# Use the "in" operator
barcelona_fc_roster = ['Alves', 'Messi', 'Fabregas']
name = input('Enter name to check: ')
if name in barcelona_fc_roster:
    print(f'Found {name} on the roster.')
else:
    print(f'Could not find {name} on the roster.')

Could not find hi on the roster.

In [2]:
# Use the "not in" operator
barcelona_fc_roster = ['Alves', 'Messi', 'Fabregas']
name = input('Enter name to check: ')
if name not in barcelona_fc_roster:
    print(f'Could not find {name} on the roster.')
else:
    print(f'Found {name} on the roster.')

Could not find michelle on the roster.

In [10]:
strawhats = ["Luffy","Zoro","Sanji","Usopp", "Nami","Chopper","Robin","Franky","Brook", "Jinbei"]
name = input('Enter a Strawhat')
if name in strawhats:
    print(f'Found {name} on the Strawhat crew')
else:
    print(f'{name} was not found on the Strawhat crew')

Law was not found on the roster

# Detecting ranges using logical operators

In [13]:
x = 30
if x < 0 :
    print("x is negative")
elif (x > 10) and (x < 15) :
    print("10 to 15")
elif (x >= 14) and (x < 30) :
    print("14 to 30")
else :
    print(x)

30

# Detecting ranges with branches

In [14]:
num = 16
if num < 5:
    print("Less than 5")
elif 5 <= num <= 15:
    print("Between 5 and 15")
else:
    print("Greater than 15")

Greater than 15

In [19]:
list1 = []
list1.append(int(input('enter a num')))
list1.append(int(input('enter a num')))
list1.append(int(input('enter a num')))

print(min(list1))

2

In [ ]:
list1 = []
num1 = input('Please inpu')

In [31]:

num = input("Enter a number")
num = input("Enter a number")
num = input("Enter a number")

def add_num(num):
    num.append(num)

if min(num):
    print(f'{num} is the smallest number')
else:
    print(f'{num} is not the smallest number')

40 is the smallest number

# Loops

In [8]:
for number in range(1,25,6):
    print(f'Attempt',number, (number)* ".")

Attempt 1 .
Attempt 7 .......
Attempt 13 .............
Attempt 19 ...................

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 if x == "banana":
  break 
 print(x)
 print('Hey')

apple
Hey

In [11]:
for x in range(6):
 if x == 3: break
 print(x)
else:
 print("Finally finished!")

0
1
2

# NESTED FOR LOOP

In [6]:
adj = ["red","big","tasty","black"]
fruits = ["apple", "banana", "cherry"]
cars = ["Mercedes", "BMW"]

for x in adj:
    for y in fruits:
      for z in cars:
        print(x, y, z)

red apple Mercedes
red apple BMW
red banana Mercedes
red banana BMW
red cherry Mercedes
red cherry BMW
big apple Mercedes
big apple BMW
big banana Mercedes
big banana BMW
big cherry Mercedes
big cherry BMW
tasty apple Mercedes
tasty apple BMW
tasty banana Mercedes
tasty banana BMW
tasty cherry Mercedes
tasty cherry BMW
black apple Mercedes
black apple BMW
black banana Mercedes
black banana BMW
black cherry Mercedes
black cherry BMW

In [10]:
def greet(first_name, last_name):
    print(f"Hello {first_name} {last_name}")

    greet("John", "Smith")
print()
greet("Marie")

TypeError: greet() missing 1 required positional argument: 'last_name'

In [1]:
def greet(first_name):
    return f"Hello{first_name}"

message = greet("Jack")
print(message)

#1. perform task
#2. returnm a value

HelloJack

In [3]:
def increment(number,by):
    return number+by
print(increment(20,100))

120

In [7]:
def increment(number, by = 1):
    return number + by
print(increment(20,5))

25