In [6]:
#dictionary is a collection of key-value pairs
d1 = {"John": 25, "John": 23}
d2 = {}
d3 = {"John": ["111-2233","222-1234"],
       "Alice": ["234-2233"]}

In [4]:
d3["John"][0]

'111-2233'

In [7]:
d1

{'John': 23}

In [9]:
d1["FraudHawk"] = 25

In [10]:
d1

{'John': 23, 'FraudHawk': 25}

In [13]:
"FraudHawk" in d1

True

In [ ]:
list(d1.keys())

In [14]:
wins = {}
teams = ["CHC","ATL"]

for t in teams:
    wins[t] = 0

print(wins)

{'CHC': 0, 'ATL': 0}

In [ ]:
wins ["CHC"] = wins["CHC"] + 1

In [15]:
wins

{'CHC': 0, 'ATL': 0}