# SORTING

In [10]:
xs = [20,30,10,60,40]
xs.sort()
print(xs)

[10, 20, 30, 40, 60]

In [11]:
ys = [20,30,10,60,40]
ss = sorted(xs)
print(ys)
print(ss)

[20, 30, 10, 60, 40]
[10, 20, 30, 40, 60]

In [12]:
zs = ["John", "Alice", "Howard"]
szs = sorted(zs)
print (zs)
print(szs)

['John', 'Alice', 'Howard']
['Alice', 'Howard', 'John']

In [14]:
sdata = [('ATL',6,0.667), ('ARI',8,0.555),('CLE',9,0.867)]
ss = sorted(sdata, key = lambda x: x[2], reverse=True)
print(ss)

[('CLE', 9, 0.867), ('ATL', 6, 0.667), ('ARI', 8, 0.555)]

In [15]:
sdata = [('ATL',6,0.667), ('ARI',8,0.555),('CLE',9,0.867)]
ss = sorted(sdata)# sorts by default on first component of tuple
print(ss)

[('ARI', 8, 0.555), ('ATL', 6, 0.667), ('CLE', 9, 0.867)]

In [ ]:
sdata = [('ATL',6,0.667), ('ARI',8,0.555),('CLE',9,0.867)]
ss = sorted(sdata, key=lambda x: x[2])
print(ss)

# WHILE LOOP

In [17]:
while True:
 x = input("Enter a command: ")
 if x == 'q':
    break
else:
  print("You entered",x)
print("Done")

Done

# FORMATTED PRINT

In [41]:
print("x{:>10s}x{:^5d}x{:<6.2f}x".format("Charles",34,62.33))

x   Charlesx 34  x62.33 x

# ENUMERATED FOR-LOOP

In [45]:
xs = ["John","Alice","Howard"]
for i in range(len(xs)):
    print(xs[i])

John
Alice
Howard

In [46]:
xs = ["John","Alice","Howard"]
for (i,x) in enumerate(xs):
    print(i,x)

0 John
1 Alice
2 Howard

In [47]:
xs = ["John","Alice","Howard"]
list(enumerate(xs))

[(0, 'John'), (1, 'Alice'), (2, 'Howard')]

# RANGE

In [43]:
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
for x in range(10,20,2):
    print(x)

In [ ]:
list(range)

### zip

In [48]:
xs = [1,2,3,4]
ys = ["John", "Alice","Howard","Tom"]
list(zip(xs,ys))

[(1, 'John'), (2, 'Alice'), (3, 'Howard'), (4, 'Tom')]

In [49]:
x1 = list(range(5))
x2 = list(range(10,15))
x3 = list(range(110,115))
list(zip(x1,x2,x3))

# Nested if-else statements

In [ ]:
user_choice =  # Hardcoded values for this tool. Could be input()...
num_items = 5
if user_choice == 1:    
	print('user_choice is 1')
elif user_choice == 2:	   
    if num_items < 0:
	    print('user_choice is 2 and num_items < 0')
else:
	    print('user_choice is 2 and num_items >= 0')
else:
print('user_choice is neither 1 or 2')